<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Anterior spinothalaic tract</string>
	<string>Dorsal Column-Medial Lemniscus System</string>
	<string>Dorsal spinocerebellar tract</string>
	<string>Lateral spinothalamic tract</string>
	<string>Ventral spincerebellar tract</string>
</array>
</plist>
