<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alar plate (lamina)</key>
	<string>Portion of the developing neural tube located dorsal to the sulcus limitans. Develops into the future dorsal horn of gray matter and is associated with afferent functions.</string>
	<key>Arachnoid mater</key>
	<string>Middle meningeal layer surrounding the tissue of the central nervous system. Both the arachnoid and pia mater make up the leptomeninges, and both are derived from neural crest cells.</string>
	<key>Arachnoid trabeculae</key>
	<string>Connective tissue structures found in the adult that connects the pia and arachnoid mater. These represent the origin of the pia and arachnoid mater as a single layer.</string>
	<key>Astrocytes</key>
	<string>Derived from glioblasts that differentiated into astroblasts. Astroblasts will further differentiate into either protoplasmic astrocytes or fibrous astrocytes. </string>
	<key>Basal plate (lamina)</key>
	<string>Portion of the developing neural tube located ventral to the sulcus limitans. Develops into the future ventral and lateral horns of gray matter and contains predominately primary motor neurons. The basal plates are separated on each side by the floor plate, which forms the future ventral median fissure. </string>
	<key>Cauda equina</key>
	<string>The large bundle of dorsal and ventral nerve roots that continue within the vertebral canal below the termination of the spinal cord within the lumbar cistern. </string>
	<key>Caudal neuropore</key>
	<string>Caudal opening of the neural tube; closes approximately on day 27.</string>
	<key>Conus medullaris</key>
	<string>The termination of the spinal cord, which traditionally is located in the adult between vertebral levels L1-L2.</string>
	<key>Dorsal horn of gray matter</key>
	<string>This column of gray matter is formed mainly by interneurons, afferent projection nuclei, and central neuroglia. Sensory information from the periphery is relayed from the afferent nuclei in the dorsal root ganglia to synapse with the afferent nuclei within the dorsal gray horn. Two prominent parts of the dorsal horn of gray mater are the substantia gelatinosa and the body of the dorsal horn. This section of the spinal cord in the adult is derived from the embryological alar plates.</string>
	<key>Dorsal root ganglia</key>
	<string>Aggregation of pseudounipolar neurons situated within the dorsal roots. These are the cell bodies of the primary sensory neurons whose central processes pass into the spinal cord and peripheral processes travel through the spinal nerve. These pseudounipolar neurons are derived from neural crest cells. Satellite neuroglial cells are also present within the ganglion.</string>
	<key>Dorsal roots of spinal nerves</key>
	<string>Collection of central axon processes from pseudounipolar neurons within the dorsal root ganglion carrying sensory information. Continues as the dorsal rootlets into the spinal cord.</string>
	<key>Dura mater</key>
	<string>The outer-most layer of meninges surrounding the central nervous system. This is the thickest of the three meningeal layers, and is the only layer to be derived from mesenchymal tissue surrounding the neural tube. </string>
	<key>Ependyma</key>
	<string>Ependymal epithelial layer which forms following the formation of neuroblasts and glioblasts from the neuroepithelium. Ependymal cells will line the central canal of the spinal cord and the ventricles of the brain. </string>
	<key>Filum terminale</key>
	<string>A long fibrous thread formed distal to the conus medullaris by the continuation of pia mater. The filum terminale continues inferiorly to attach to the coccyx, representing the original location of the developing spinal cord.</string>
	<key>Glioblasts</key>
	<string>Primordial supporting cells of the central nervous system, which differentiate from the neuroepithelial cells following cessation of neuroblast formation. These glial cell precursors migrate from the ventricular zone to the marginal zone and mantle zones.</string>
	<key>Lateral gray horn</key>
	<string>Adult portion of the spinal cord derived from the embryological basal plates. Axons of neurons located within the lateral gray horn grow out of the spinal cord and form a portion the ventral root of spinal nerves. </string>
	<key>Leptomeninges</key>
	<string>Name given to both the pia and arachnoid mater meningeal layers. The two layers are combined into one name due to both coming from the same origin, neural crest cells.</string>
	<key>Mantle zone</key>
	<string>Intermediate layer of the developing spinal cord. Neuroblasts that originated in the ventricular zone migrate superficially to occupy this space. Eventually this zone will form the gray matter of the spinal cord.</string>
	<key>Marginal zone</key>
	<string>Superficial layer of the developing spinal cord. Composed of the outer parts of the neuroepithelial cells. Eventually this zone will form the white matter of the spinal cord. </string>
	<key>Meninges</key>
	<string>Membrane that covers the neural tube. The meninges form three different layers, the dura, arachnoid and pia mater. The dura mater develops from the overlying mesenchyme, while the arachnoid and pia mater layers develop from neural crest cells.</string>
	<key>Meningocele</key>
	<string>Classification of spina bifida cystica, in which meningeal layers and cerebrospinal fluid protrude through the neural arch defect.</string>
	<key>Mesenchymal cells</key>
	<string>A type of embryonic connective tissue derived from mesoderm. Have the ability to differentiate into various cell types including: osteoblasts, chondroblasts, myocytes and adipocytes. </string>
	<key>Microglial cells</key>
	<string>Derived from mesenchymal cells within the bone marrow and located throughout the gray and white matter.  Microglial cells invade the central nervous system late in the fetal period via blood vessels. </string>
	<key>Neural canal</key>
	<string>The lumen of the neural tube, which communicates openly with the amniotic cavity. Forms the future central canal of the spinal cord and ventricular system of the brain.</string>
	<key>Neural crest</key>
	<string>An area of cells that originate from the neural plate and non-neural ectoderm. During neurulation, both sides of the neural plate approach each other and fuse forming the neural tube. The neural crest is separated from the remaining ectoderm to occupy the location between the neural tube and ectoderm. </string>
	<key>Neural crest cells</key>
	<string>The neural crest tissue separates into neural crest cells following neurulation. Neural crest cells have the ability to differentiate into numerous cells such as: smooth muscle cells, peripheral ganglia, glial cells, melanocytes and the craniofacial cartilage and bone.</string>
	<key>Neural folds</key>
	<string>Structure that arises from the neural plate (ectoderm) and during neurulation is induced to approach the other neural fold. Fusion of the neural folds forms the neural tube.</string>
	<key>Neural groove</key>
	<string>A shallow groove that develops within the neural plate between both neural folds. The neural groove upon fusion of the neural tube will form the ventricular system within the central nervous system.</string>
	<key>Neural plate</key>
	<string>Thickened area of ectoderm formed by both the neural folds and neural groove. Proliferation of the plate is induced by the notochord and underlying paraxial mesoderm.</string>
	<key>Neural tube</key>
	<string>Precursor to the central nervous system. Formed by fusion of the bilateral neural folds.</string>
	<key>Neural tube defects</key>
	<string>General term used to describe any congenital anomalies affecting the developing neural tube. Commonly neural tube defects are caused by a failure of closing the neural tube.</string>
	<key>Neuroblasts</key>
	<string>Primordial neurons, which are the first cells to develop from the neuroepithelial cells within the ventricular zone. These neuron precursors migrate from the ventricular zone to occupy the mantle zone. </string>
	<key>Neuroectoderm</key>
	<string>Specialized section of ectoderm that receives protein signals to develop into the nervous system. The neuroectoderm will develop into the neural crest cells and the neural tube.</string>
	<key>Neurula</key>
	<string>The name given to the developing embryo during the stage of neurulation.</string>
	<key>Neurulation</key>
	<string>Term describing the formation of the neural plate and neural tube. Begins around days 22-23 near the region of somites 4-6.</string>
	<key>Notochord</key>
	<string>Rod-shaped structure that is derived from mesodermal tissue, and serves as the primitive axis of the developing embryo. Formation of the notochord induces the overlying ectoderm to thicken and form the neural plate. The notochord largely degenerates, but small portions persist as the nucleus pulposus portion of the intervertebral discs. </string>
	<key>Oligodendrocytes</key>
	<string>Derived from glioblasts that differentiated into oligodendroblasts. Oligodendroblasts will further differentiate into oligodendrocytes. These cells are responsible for myelinating axons within the central nervous system. </string>
	<key>Pia mater</key>
	<string>Deepest meningeal layer surrounding the tissue of the central nervous system. Both the pia and arachnoid mater make up the leptomeninges, and both are derived from neural crest cells.</string>
	<key>Rostral neuropore</key>
	<string>Cranial opening of the developing neural tube; closes approximately on day 25.</string>
	<key>Schwann cells</key>
	<string>Cells that are analogous to oligodendrocytes, but are responsible for myelinating axons of peripheral nerves. Schwann cells are derived from neural crest cells. </string>
	<key>Spina bifida cystica</key>
	<string>Neural tube defect in which the neural arches do not grow and fuse together in the midline. This is the more severe case of spina bifida, where protrusion of the spinal cord and nervous tissue (meningomyelocele) and/or meninges (meningocele) may occupy a cyst-like space.</string>
	<key>Spina bifida occulta</key>
	<string>Neural tube defect in which the neural arches do not grow and fuse together in the midline. This is generally a small space between the neural arches and mostly produces no clinical symptoms. In the minor form, the patient may present with a small dimple and a tuft of hair in the lower back.</string>
	<key>Spinal ganglion cells</key>
	<string>The pseudounipolar neurons that occupy the dorsal root ganglion. The peripheral processes convey sensory endings from somatic and visceral structures. The central processes occupy the dorsal roots of spinal nerves and enter the spinal cord.</string>
	<key>Subarachnoid space</key>
	<string>Fluid filled space that develops within the leptomeninges of the developing embryo. This space separates the pia and arachnoid mater in the adult. Cerebrospinal fluid occupies this space around the central nervous system. </string>
	<key>Sulcus limitans</key>
	<string>Shallow groove found bilaterally on the lateral side of the developing spinal cord. The sulcus limitans separates the alar and basal plates.</string>
	<key>Ventral horn of gray matter</key>
	<string>This column of gray matter consists predominately of a large aggregation of basophilic alpha motor neuron cell bodies, dendrites, axons and central neuroglia. This section of the spinal cord in the adult is derived from the embryological basal plates. Axons of neurons located within the ventral horn of gray matter grow out of the spinal cord and form the majority of the ventral root of spinal nerves. </string>
	<key>Ventral roots of spinal nerves</key>
	<string>The ventral roots are made up of axons from multipolar motor neurons located in the ventral horn of gray mater, as well as axons of preganglionic sympathetic neurons. </string>
	<key>Ventral median fissure</key>
	<string>Develops on the ventral surface of the developing spinal cord as the two basal plates enlarge on each side of the median plane.</string>
	<key>Ventricular zone</key>
	<string>The deepest layer (adjacent to the neural canal) of the developing spinal cord. Consists of neuroepithelial cells, which will give rise to all neurons and macroglial cells of the spinal cord.</string>
</dict>
</plist>
