<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Afferent neurons</key>
	<string>Neurons responsible for relaying sensory information. Cell bodies are located predominately within the dorsal root ganglion.</string>
	<key>Anterior spinal artery</key>
	<string>Formed by the union of branches of the vertebral arteries. Responsible for supplying blood to the anterior 1/3 of the spinal cord.</string>
	<key>Arachnoid mater</key>
	<string>Spinal arachnoid mater is an avascular membrane composed of fibrous and elastic connective tissue that lines the dural sac and dural root sheaths. Pressed against the deep surface of the dura mater due to the pressure of the cerebrospinal fluid within the subarachnoid space.</string>
	<key>Arachnoid trabeculae</key>
	<string>Connective tissue structures found in the adult that connects the pia and arachnoid mater. These represent the origin of the pia and arachnoid mater as a single layer.</string>
	<key>Autonomic nervous system</key>
	<string>A functional subdivision of the nervous system that functions largely outside of conscious control and acts to control visceral functions. The two subdivisions within the autonomic nervous system are the sympathetic and parasympathetic systems, which act as antagonistic to each other. Preganglionic cell bodies of the sympathetic nervous system reside within the intermediolateral cell column. Some of the preganglionic cell bodies of the parasympathetic nervous system reside in the sacral parasympathetic nuclei (S2-4).</string>
	<key>Axon</key>
	<string>Process extending from the neuron cell body, responsible for transmitting impulses away from the cell body usually to other neurons or effector cells.</string>
	<key>Cauda equina</key>
	<string>The large bundle of dorsal and ventral nerve roots that continue within the vertebral canal below the termination of the spinal cord within the lumbar cistern. </string>
	<key>Central nervous system</key>
	<string>A structural subdivision of the nervous system, which consists of the brain and spinal cord.</string>
	<key>Cerebrospinal fluid</key>
	<string>Clear fluid found surrounding the brain and spinal cord. The fluid is produced within the choroid plexus of the brain. The fluid acts as a cushion and immunological protection for the brain. The cerebrospinal fluid surrounds the brain and spinal cord within the subarachnoid space.</string>
	<key>Cervical enlargement</key>
	<string>Enlarged segment of the spinal cord usually spanning from the fifth cervical level to the first thoracic level. The cervical enlargement is involved with innervation of the upper extremities.</string>
	<key>Conus medullaris</key>
	<string>The termination of the spinal cord, which traditionally is located in the adult between vertebral levels L1-L2.</string>
	<key>Dendrites</key>
	<string>Process(es) extending from the neuron cell body that transmits impulses from the periphery towards the neuron cell body. Larger diameters compared to axons and are unmyelinated. </string>
	<key>Denticulate ligaments</key>
	<string>Sawtooth shaped extensions of pia mater that attach the spinal cord to the dura mater. </string>
	<key>Dermatome</key>
	<string>A strip of skin that is innervated by a single spinal nerve. C1 is the only spinal nerve without a dermatome.</string>
	<key>Dorsal horn of gray matter</key>
	<string>This column of gray matter is formed mainly by interneurons, afferent projection nuclei, and central neuroglia. Sensory information from the periphery is relayed from the afferent nuclei in the dorsal root ganglia to synapse with the afferent nuclei within the dorsal gray horn. Two prominent parts of the dorsal horn of gray mater are the substantia gelatinosa and the body of the dorsal horn. This section of the spinal cord in the adult is derived from the embryological alar plates.</string>
	<key>Dorsal roots of spinal nerves</key>
	<string>Collection of central axon processes from pseudounipolar neurons within the dorsal root ganglion carrying sensory information. Continues as the dorsal rootlets into the spinal cord.</string>
	<key>Dorsal rami of spinal nerves</key>
	<string>Dorsal branch of the spinal nerves that consists of somatic motor and sensory axons as well as visceral motor axons. </string>
	<key>Dorsal root ganglion</key>
	<string>Aggregation of pseudounipolar neurons situated within the dorsal roots. These are the cell bodies of the primary sensory neurons whose central processes pass into the spinal cord and peripheral processes travel through the spinal nerve. These pseudounipolar neurons are derived from neural crest cells. Satellite neuroglial cells are also present within the ganglion.</string>
	<key>Dura mater</key>
	<string>Outer-most meningeal layer composed of fibrous and elastic tissues. The dura mater layer is separated from the vertebrae by the extradural space. The dura mater forms the dural sac within the vertebral canal. The dural sac is pierced laterally by the spinal nerves and continues through the intervertebral foramina as the dural root sheaths. </string>
	<key>Efferent neurons</key>
	<string>Neurons responsible for innervation of muscle tissue. Somatic efferent neurons are predominately located within the ventral horn of gray matter. Visceral efferent neurons are located through out the central nervous system. </string>
	<key>Endoneurium</key>
	<string>Thin connective tissue layer that surrounds individual axons.</string>
	<key>Epidural space</key>
	<string>Space between the dura mater meningeal layer and the vertebrae. Consists predominately of fat and the internal vertebral venous plexus.</string>
	<key>Epineurium</key>
	<string>Thick connective tissue surrounding multiple nerve fascicles, forming the outer covering of nerves. </string>
	<key>Filum terminale</key>
	<string>A long fibrous thread formed distal to the conus medullaris by the continuation of pia mater. The filum terminale continues inferiorly to attach to the coccyx, representing the original location of the developing spinal cord.</string>
	<key>Ganglion</key>
	<string>General term describing a collection of nerve cell bodies in the peripheral nervous system.</string>
	<key>Gray matter</key>
	<string>Neural tissue within the brain and spinal cord that consists primarily of neuron cell bodies and glial cells.</string>
	<key>Lateral horn of gray matter</key>
	<string>Column of cells primarily involved in the sympathetic nervous system. This grouping of cells is also referred to as the intermediolateral cell column.</string>
	<key>Lumbar cistern</key>
	<string>Enlarged space between the termination of the spinal cord (L1-2) and the inferior extent of the arachnoid and dura mater (S2). Occupants within the space include: ventral and dorsal roots (cauda equina), filum terminale and cerebrospinal fluid.</string>
	<key>Lumbar enlargement</key>
	<string>Enlarged segment of the spinal cord usually spanning from the second lumbar level to the third sacral level. The lumbar (or lumbosacral) enlargement is involved with innervation of the lower extremities.</string>
	<key>Meninges</key>
	<string>The membranes that surround the central nervous system. Dura, arachnoid and pia mater are the three meningeal layers surrounding the brain and spinal cord.</string>
	<key>Multipolar neuron</key>
	<string>Neurons that have a single axons and two or more dendrites. Motor neurons and interneurons are the most common examples within the nervous system.</string>
	<key>Myotome</key>
	<string>The muscles fibers that receive innervation from a single spinal nerve. </string>
	<key>Nerve plexus</key>
	<string>A branching network of interconnecting nerves. There are four major plexuses throughout the body (cervical, brachial, lumbar and sacral). All nerve plexuses are formed by ventral rami.</string>
	<key>Neuroglial cells</key>
	<string>Supporting, nonconducting cells located in close proximity to neurons.</string>
	<key>Neurons</key>
	<string>The structural and functional units of the nervous system. These cells are specialized for rapid communication.</string>
	<key>Perineurium</key>
	<string>Dense connective tissue surrounding individual nerve fascicles.</string>
	<key>Peripheral nervous system</key>
	<string>A structural subdivision of the nervous system, which consists of the nerves and ganglia located outside of the brain and spinal cord.</string>
	<key>Pia mater</key>
	<string>Innermost meningeal layer, which consists of flattened cells directly following the surface features of the spinal cord. The pia mater surrounds the nerve roots and spinal blood vessels. Distal to the conus medullaris the pia mater continues as the filum terminale.</string>
	<key>Posterior spinal artery</key>
	<string>Paired branches of the vertebral or posterior inferior cerebellar arteries. Each is responsible for supplying blood for 1/3 of the spinal cord.</string>
	<key>Pseudounipolar neuron</key>
	<string>Neurons have a single axonal process. One end of the axon extends into the periphery and the other end of the axon extends into the central nervous system. Majority of the pseudounipolar neurons are sensory neurons.</string>
	<key>Radicular arteries</key>
	<string>Supplemental blood supply to the spinal cord. The anterior and posterior branches run along the ventral and dorsal roots respectively. Radicular arteries are branches off of various segmental arteries such as the ascending cervical, intercostal and lumbar arteries.</string>
	<key>Segmental medullary arteries</key>
	<string>Branches of the ascending cervical, deep cervical, vertebral, posterior intercostal and lumbar arteries that anastomose with the anterior and posterior spinal arteries. The largest anterior segmental medullary artery is the artery of Adamkiewicz, which typically branches off the left posterior intercostal artery.</string>
	<key>Spinal dural sac</key>
	<string>The continuation of the dura mater below the ending of the spinal cord (L1-2). The dural sac surrounds the lumbar cistern, cauda equina and the filum terminale.</string>
	<key>Spinal nerve</key>
	<string>Generally a mixed nerve formed by the combination of the ventral and dorsal roots. There are thirty-one pairs of spinal nerves. These nerves are responsible for carrying motor, sensory and autonomic fibers. </string>
	<key>Somatic nervous system</key>
	<string>A functional subdivision of the nervous system that functions largely within conscious control. The somatic nervous system predominately innervates skeletal muscle (efferent) and provides innervation to the skin (afferent).</string>
	<key>Subarachnoid space</key>
	<string>Fluid filled space that develops within the leptomeninges of the developing embryo. This space separates the pia and arachnoid mater in the adult. Cerebrospinal fluid occupies this space around the central nervous system. </string>
	<key>Synapse</key>
	<string>Specialized junction between neurons that facilitates the transmission of impulses from one neuron to another neuron, or between axons and effector cells. </string>
	<key>Ventral horn of gray matter</key>
	<string>This column of gray matter consists predominately of a large aggregation of basophilic alpha motor neuron cell bodies, dendrites, axons and central neuroglia. This section of the spinal cord in the adult is derived from the embryological basal plates. Axons of neurons located within the ventral horn of gray matter grow out of the spinal cord and form the majority of the ventral root of spinal nerves. </string>
	<key>Ventral roots of spinal nerves</key>
	<string>The ventral roots are made up of axons from multipolar motor neurons located in the ventral horn of gray mater, as well as axons of preganglionic sympathetic neurons. </string>
	<key>Ventral rami of spinal nerves</key>
	<string>Ventral branch of the spinal nerves that consists of somatic motor and sensory axons as well as visceral motor and sensory axons. Ventral rami at various levels of the spinal cord will combine to form the various plexuses of the body. </string>
	<key>White matter</key>
	<string>General term used to describe the color seen grossly in the central nervous system. The neural tissue is white in appearance due to the large aggregation of myelinated axons. Also contains unmyelinated axons and neuroglial cells.</string>
</dict>
</plist>
