<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Action potential</key>
	<string>Electrochemical process initiated by impulses carried from the neuron cell body or dendrites to the axon hillock. The impulse then will continue to travel along the length of the axon. </string>
	<key>Anterograde transport</key>
	<string>Carries cellular parts from the nerve cell body to the periphery along the axon. The cytoskeletal track used for the transport is made up largely of the protein kinesin. </string>
	<key>Astrocyte</key>
	<string>Largest neuroglial cells that provide physical and metabolic support to neurons. There are two types of astrocytes: protoplasmic (predominately found in the gray matter) and fibrous (predominately found in the white matter). Also play an important role in maintaining the blood-brain barrier.</string>
	<key>Axoaxonic synapse.</key>
	<string>Synapse between the axon of one neuron (presynaptic) and axon of another neuron (postsynaptic).</string>
	<key>Axodendritic synapse</key>
	<string>Synapse between the axon of one neuron (presynaptic) and dendrite of another neuron (postsynaptic).</string>
	<key>Axon</key>
	<string>Process extending from the neuron cell body, responsible for transmitting impulses away from the cell body usually to other neurons or effector cells.</string>
	<key>Axon hillock</key>
	<string>Connection between the axon and the neuron cell body. Location of action potential initiation.</string>
	<key>Axosomatic synapse	</key>
	<string>Synapse between the axon of one neuron (presynaptic) and the cell body of another neuron (postsynaptic).</string>
	<key>Bipolar neuron</key>
	<string>Neurons that have a single axon and single dendrite. Bipolar neurons are rare and are most often associated with receptors for the special senses (smell, taste, hearing, sight and equilibrium).</string>
	<key>Chemical synapse	</key>
	<string>Transmission of impulses is done via the release of chemical substances, neurotransmitters from the presynaptic neuron to bind on receptors of postsynaptic neurons or effector cells.</string>
	<key>Choroid plexus</key>
	<string>Combination of the ependymal cells and associated capillaries. Responsible for producing cerebrospinal fluid. </string>
	<key>Dendrite</key>
	<string>Process(es) extending from the neuron cell body that transmits impulses from the periphery towards the neuron cell body. Larger diameters compared to axons and are unmyelinated. </string>
	<key>Dendritic tree</key>
	<string>Term used to describe the arborization of all dendritic extensions for a single neuron. Greatly increase the receptor surface area of a neuron. </string>
	<key>Dorsal horn of gray matter</key>
	<string>This column of gray matter is formed mainly by interneurons, afferent projection nuclei, and central neuroglia. Sensory information from the periphery is relayed from the afferent nuclei in the dorsal root ganglia to synapse with the afferent nuclei within the dorsal gray horn. Two prominent parts of the dorsal horn of gray mater are the substantia gelatinosa and the body of the dorsal horn. This section of the spinal cord in the adult is derived from the embryological alar plates.</string>
	<key>Dorsal root ganglion</key>
	<string>Aggregation of pseudounipolar neurons situated within the dorsal roots. These are the cell bodies of the primary sensory neurons whose central processes pass into the spinal cord and peripheral processes travel through the spinal nerve. These pseudounipolar neurons are derived from neural crest cells. Satellite neuroglial cells are also present within the ganglion.</string>
	<key>Electrical synapse</key>
	<string>Transmission of impulses is done via gap junctions, allowing the spread of electrical current from one cell to the next. </string>
	<key>Ependymal cells</key>
	<string>Epithelial-type cells lining the ventricular cavities of the central nervous system. Cuboidal to columnar in morphological classification. </string>
	<key>Ganglia</key>
	<string>General term used to define an aggregation of neuron cell bodies specifically located in the peripheral nervous system.</string>
	<key>Gap junctions</key>
	<string>Form of cell-to-cell communication. Each gap junction consists of two connexons, one per cell. Gap junctions allow molecules and ions to freely move between cells. 
</string>
	<key>Gray Matter</key>
	<string>General term used to describe the color seen grossly in the central nervous system. The neural tissue is gray in appearance due to the large aggregation of neuron cell bodies. Also contains dendrites, axons and central neuroglia.</string>
	<key>Microglia</key>
	<string>Small elongated phagocytic cells, which are considered to be a part of the mononuclear phagocytic system. The microglia precursor cells enter the central nervous system by way of the vascular system. </string>
	<key>Multipolar neuron</key>
	<string>Neurons that have a single axons and two or more dendrites. Motor neurons and interneurons are the most common examples within the nervous system.</string>
	<key>Neuroglial cells</key>
	<string>Supporting, nonconducting cells located in close proximity to neurons.</string>
	<key>Neuron cell body (perikaryon)</key>
	<string>Contains the euchromatic nucleus and organelles that maintain the neuron.</string>
	<key>Neurotransmitters</key>
	<string>Endogenous chemicals that are involved in chemical synapses. Located within synaptic vesicles of neurons, the neurotransmitters are released in response to an action potential across the synaptic cleft to bind to the postsynaptic receptors. </string>
	<key>Nissl bodies</key>
	<string>Appearance of each stack of rough endoplasmic reticulum within the nucleus of the neuron. </string>
	<key>Oligodendrocytes</key>
	<string>Neuroglial cells found exclusively in the central nervous system. Responsible for the formation and maintenance of myelin along multiple axons.  </string>
	<key>Pseudounipolar neuron</key>
	<string>Neurons have a single axonal process. One end of the axon extends into the periphery and the other end of the axon extends into the central nervous system. Majority of the pseudounipolar neurons are sensory neurons.</string>
	<key>Retrograde transport</key>
	<string>Carries cellular parts away from the periphery and towards the neuron cell body. The cytoskeletal track used for transport is made up largely of the protein dynein. </string>
	<key>Satellite cells</key>
	<string>Neuroglial cells found in the peripheral nervous system, surrounding nerve cell bodies within ganglia to help support the microenvironment.</string>
	<key>Schwann cells</key>
	<string>Neuroglial cells found only in the peripheral nervous system. Responsible for supporting both myelinated and unmyelinated nerve cell fibers. Each segment of myelin along peripheral axons is composed of a single schwann cell. </string>
	<key>Synapse</key>
	<string>Specialized junction between neurons that facilitates the transmission of impulses from one neuron to another neuron, or between axons and effector cells. 
</string>
	<key>Ventral horn of gray matter</key>
	<string>This column of gray matter consists predominately of a large aggregation of basophilic alpha motor neuron cell bodies, dendrites, axons and central neuroglia. This section of the spinal cord in the adult is derived from the embryological basal plates. Axons of neurons located within the ventral horn of gray matter grow out of the spinal cord and form the majority of the ventral root of spinal nerves. </string>
	<key>White matter</key>
	<string>General term used to describe the color seen grossly in the central nervous system. The neural tissue is white in appearance due to the large aggregation of myelinated axons. Also contains unmyelinated axons and neuroglial cells.</string>
</dict>
</plist>
